body {
    background-color: rgb(23, 22, 22);
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: rgb(217, 66, 205);
}

#nav {
    background-color: rgb(200, 200, 200);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 30% 0 30%;
}

    #nav a {
        text-decoration: none;
        color: black;
    }

    #nav ul {
        list-style-type: none;
        padding: 0;
    }

.image-complementary{
    width: 500px;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

#main-title {
    font-size: 5rem;
}

p, article, table {
    color: white;
}

section {
    margin: 40px 0;
}

#who-we-are ol {
    background: linear-gradient(to right, #f13f98, #cb0ee0);
    padding: 20px 0 20px 40px;
    border-radius: 10px;
    font-size: 1.2rem;
}

#title-not-casino {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    table td {
        padding: 10px;
        border: 1px solid rgb(200, 200, 200);
    }

#buy-plan {
    background: Linear-gradient(to right, #f13f98, #cb0ee0);
    color: white;
    margin: 20px 0 20px 0;
    font-size: 20px;
    padding: 20px 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

    #buy-plan:hover {
        background: Linear-gradient(to right, #ff7b00, #a4f13f);
    }

.text-center {
    text-align: center;
}

.inline {
    display: inline-block;
    margin: 10px;
}

#news a {
    color: red;
    text-decoration: none;
}

#img-bitcoin{
    border-radius: 40px;
}

#form {
    background: linear-gradient(to right, #7776b2, #cb0ee0);
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    #form .title {
        color: white;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    #form label {
        color: white;
        font-size: 1.2rem;
    }

    #form input, #form textarea {
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 50%;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }

    #form button {
        background: Linear-gradient(to right, #f13f98, #cb0ee0);
        color: white;
        font-size: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        font-weight: bold;
    }

        #form button:hover {
            background: Linear-gradient(to right, #ff7b00, #a4f13f);
        }

    